
body{
    padding: 0%;
    background-color: darkgray;
    }
main{
	min-width: 300px;
	max-width: 1000px;
    Height: 560px; 
	background-color: white;
	margin:auto;
	margin-bottom: 30px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.418);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    background-image: linear-gradient(to right,#9C6CF5,#CA70FF,#DC72E8);

}
.Calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
h2{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgba(31, 31, 31, 31);
    border: none;
    border-radius: 30px;
    color: white;
    box-shadow: 0px 0px 10px rgba(247, 241, 241, 0.021);
}

.botao:hover{
    background-color: black;
}
#resultado{
    font-family: Arial, Helvetica, sans-serif;
    width: 207;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    border-radius: 15px;
    padding: 5px;
}